p{
font-family: 'Josefin Sans', sans-serif;
   font-size: 25px;
}

h1{
  font-family: 'Seymour One', sans-serif;
  font-size: 40px;
}

body{
  background: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700340816.jpg);
}